@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.text-light-gray {
    color: #727272;
}

.btn-primary {
    width: 11.25rem;
    height: 4rem;
    border-radius: 0.500rem;
    background: #FF900E;
    color: #FFF;
    padding: 1.250rem 1.500rem;
    font-size: 1rem;
    font-weight: 600;
    border: 0;
    margin: 3rem 0;

}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}


header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 3.125rem 15rem;

}

nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
}


nav>ul {
    display: flex;

}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: #424242;
    margin-left: 1.875rem;
}

.banner-section {
    max-width: 53.875rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 7.25rem;

}

.banner-title {
    color: #131313;
    font-size: 4rem;



}




.banner-img {
    width: 100%;
}

/* main section  */

main {
    max-width: 1440px;
    margin: 70px auto;
    background-color: #FFF;
}

.tems-container {
    display: flex;
    align-items: center;
}

.tems-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}


.tems-content {
    padding-right: 70px;
    padding-left: 70px;

}

.tems-title {
    color: #FF900E;
    font-size: 2.8125rem;
    font-weight: 700;
}

.tems2 {
    color: #131313;
    font-weight: 700;
    font-size: 2.8125rem;
}

.tems-description {
    color: #727272;
    font-size: 1rem;
    line-height: 1.625rem;

}
/* feature section  */
.features{
display: flex;
padding: 8rem 0 ;
}
.feature-content{
width: 586px;
}
.card h4{
    color:  #131313;
font-size: 20px;
font-weight: 600;
}
.card p{
   
line-height: 26px; 
}
.card{
    padding: 2.50rem 1rem;
    margin-top: 20px;
   width: 586px;
   border-radius: 8px;
   background: #FFF;
   box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature-title {
    color: #131313;
    font-size: 3.5rem;
    font-weight: 700;
    padding: 10px;
}
.feature-description{
    margin-top: 20px;
    margin-top: 1.5rem;
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}
.feature-img img{
    width: 100%;
    margin-left: 4rem;
}

.features .section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20;
}
/* facts section  */
.facts-card-container {
    display: flex;
    justify-content: space-around;
    padding: 5rem 0;
}
.facts-content{
    width: 542px;
    padding: 20px;
}
.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.facts-description {
    color: #727272;
}

.facts-card-container .card-starts {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

.facts-card-container .card-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
}

/* sponsor section  */
.sponsor-content{
    width: 582px;
    margin: 0 auto;
    padding: 10px 0;
}
.sponsor-title {
    color: #131313;
    font-size: 2.50rem;
    font-weight: 700;
    text-align: center;
    margin-top: 2.50rem;
}
.sponsor-description{
   
color: #727272;
text-align: center;
font-weight: 400;
}
.sponsor-img-container{
    margin-top: 3rem;
 display: flex;
 justify-content: space-around;   
}



/* footer section  */
.footer-description{
    max-width: 1440px;
    text-align: center;
    border-radius: 8px;
    background-color: #FFF4E7;
     margin: 0 auto;
     color: #424242;
     padding: 2.5rem 0;
}














/* responsive section  */
/* mobile device */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .features,
    .tems-container,
    .sponsor-img-container,
    .facts-card-container {
        flex-direction: column;
    }
    .sponsor-img-container,
    .features
    {
        padding: 20px;
    }
.sponsor-img-container img{
    width: 100%;
    padding: 2rem 0;
}
.footer-description{
    padding: 0 10px;
}
    nav ul li a {
        gap: 5px;

    }

    /* main section  */

    .tems-img-container {
        grid-template-columns: 1fr;
    }

    .tems-content,
    .facts-card-container {
        padding: 30px;
        grid-template-columns:1fr ;
    }

    .facts-card-container {
        gap: 20px;
    }

    .sponsor-content,
    .feature-content,
    .facts-content
    {
        width: auto;
    }
    .feature-img img {
        margin: auto;
    }

}
.card{
    width: auto;
}
.footer-description{
    padding:20px;
}

/* tablete device  */
@media screen and (min-width:576px) and (max-width:960px) {

    nav,
    .features,
    .tems-container {
        flex-direction: column;
    }
    .facts-card-container{
       flex-wrap: wrap;
    }

    header {
        padding: 50px;
    }

    nav>ul {
        margin: 0 auto;
    }

    .tems-content {
        padding: 20px;
    }
    .sponsor-img-container{
        flex-wrap: wrap;
        padding: 30px;
    }
}