@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.text-light-gray {
    color: #727272;
}

.btn-primary {
    width: 11.25rem;
    height: 4rem;
    border-radius: 0.500rem;
    background: #FF900E;
    color: #FFF;
    padding: 1.250rem 1.500rem;
    font-size: 1rem;
    font-weight: 600;
    border: 0;
    margin: 3rem 0;

}
.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}


header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 3.125rem 15rem;

}

nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
}


nav>ul {
    display: flex;

}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: #424242;
    margin-left: 1.875rem;
}

.banner-section {
    max-width: 53.875rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 7.25rem;

}

.banner-title {
    color: #131313;
    font-size: 4rem;



}




.banner-img {
    width: 100%;
}

/* main section  */

main {
    max-width: 1440px;
    margin: 70px auto;
    background-color: #FFF;
}

.tems-container {
    display: flex;
    align-items: center;
}

.tems-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}


.tems-content {
    padding-right: 70px;
    padding-left: 70px;

}

.tems-title {
    color: #FF900E;
    font-size: 2.8125rem;
    font-weight: 700;
}

.tems2 {
    color: #131313;
    font-weight: 700;
    font-size: 2.8125rem;
}

.tems-description {
    color: #727272;
    font-size: 1rem;
    line-height: 1.625rem;
    
}






/* responsive section  */
/* mobile device */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .tems-container {
        flex-direction: column;
    }

    nav ul li a {
        gap: 5px;

    }

    /* main section  */

    .tems-img-container {
        grid-template-columns: 1fr;
    }

    .tems-content {
        padding: 30px;
    }


}

/* tablete device  */
@media screen and (min-width:576px) and (max-width:960px) {

    nav,
    .tems-container {
        flex-direction: column;
    }

    header {
        padding: 50px;
    }

    nav>ul {
        margin: 0 auto;
    }

    .tems-content {
       padding: 20px;
    }
}